@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(39, 39, 39);
}

h2,
h3 {
    color: #fafafa;
}


/********************************************************************************************************************Navbar*/

.navbar-img {
    width: 50px;
    height: 50px;
}

.navbar {
    letter-spacing: 0.1rem;
    background-color: rgba(56, 56, 56, 0.308);
    z-index: 1;
}

.navbar li {
    padding-left: 2rem;
}

.navbar:not(.top-nav-collapse) {
    background: #ffffff1c!important
}

nav a h2 {
    font-family: Lobster, sans-serif;
    float: right;
    padding-top: 0.5rem;
}


/********************************************************************************************************************Center content*/

div .jumbotron {
    margin-top: 10rem;
    background-color: #ffffff1c;
}


/******************************************************************************************************************** index Movie content*/

.well {
    background-color: #ffffff1c;
    color: #fafafa;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
}

#movies img,
#movie img {
    width: auto;
    background-color: #ffffff1c;
}

@media(min-width:960px) {
    #movies .col-md-3 .well {
        height: 390px;
    }
    #movies .col-md-3 img {
        height: 240px;
    }
}