@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(39, 39, 39);
}

h2,
h3 {
    color: #fafafa;
}


/********************************************************************************************************************Navbar*/

.navbar-img {
    width: 50px;
    height: 50px;
}

.navbar {
    letter-spacing: 0.1rem;
    background-color: rgba(56, 56, 56, 0.308);
    z-index: 1;
}

.navbar li {
    padding-left: 2rem;
}

.navbar:not(.top-nav-collapse) {
    background: #ffffff1c!important;
}

nav a h2 {
    font-family: Lobster, sans-serif;
    float: right;
    padding-top: 0.5rem;
}


/********************************************************************************************************************Center content*/

h2 {
    font-family: Lobster, sans-serif;
}

span,
p {
    color: #fafafa;
}

div .jumbotron {
    margin-top: 4rem;
    background-color: #ffffff1c;
}

.film-cards {
    background-color: #ffffff1c;
    color: #fafafa;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
}

.film-cards img {
    width: auto;
    height: 500px;
}


/******************************************************************************************************************** Media queries*/

@media(min-width:960px) {
    #movies .col-md-3 .well {
        height: 390px;
    }
    #movies .col-md-3 img {
        height: 240px;
    }
}


/******************************************************************************************************************** movie.html content*/

.Film-data {
    margin-top: 10rem;
}

div .film-cards {
    overflow: hidden;
}

.film-con {
    background-color: #ffffff1c;
    color: #fafafa;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.5rem;
}

div .film-con {
    margin-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.list-group li {
    color: #fafafa;
    background-color: #ffffff1c !important;
}


/******************************************************************************************************************** Buttons*/

.btn-primary {
    color: #fafafa;
    background-color: rgb(66, 66, 66);
    width: 10rem;
}

.btn-light {
    width: 10rem;
}


/******************************************************************************************************************** Footer*/

footer {
    position: fixed;
    height: 2rem;
    bottom: 0;
    width: 100%;
    background-color: rgb(66, 66, 66);
}

footer span {
    color: #fafafa;
    font-style: italic;
    font-weight: bold;
}